:root {
    --grid-cols: 1;
    --grid-rows: 1;
  }
  
  #container {
    display: grid;
    grid-gap: 0em;
    grid-template-rows: repeat(var(--grid-rows), 0fr);
    grid-template-columns: repeat(var(--grid-cols), 0fr);
    margin: 0px 0px 0px 0px;;
    height: 800px;
    width: 1000px;
  }
  .center{
    display: block;
    margin: auto;
  }
  
  .grid-item {
    padding: 1em;
    border: 1px solid #ddd;
    text-align: center;
    

  }
  
  